section {
  background-color: white;
  padding-top: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 5px#4f1b95;
  margin: 1rem auto;
}

.hidden {
  background-color: black;
}

/* .hidden:hover {
  color: white;
} */

.bencerlore {
  font-size: small;
  padding: 1rem;
}

.ribbon {
  padding: 1rem;
  padding-right: 3rem;
  margin-right: 1rem;
  margin-left: -0.5rem;
  border-radius: 0px 0 4rem 0;
  background-color: #4f1b95;
  color: white;
}

section > h3 {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 1rem 0;
  box-shadow: 0px 5px 15px rgb(79, 27, 149), 0px -5px 15px #4f1b95;
  /* border-radius: 0.5rem; */
}

section > p {
  margin: 1rem;
  font-size: medium;
}

section > img {
  margin-left: auto;
  margin-right: auto;
}

.review {
  margin: 1rem;
  margin-bottom: 3rem;
  margin-right: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #4f1b95;
  box-shadow: rgba(79, 27, 149, 0.4) -5px 5px, rgba(79, 27, 149, 0.3) -10px 10px,
    rgba(79, 27, 149, 0.2) -15px 15px;
  /* box-shadow: 5px 5px 0px #4f1b95, -5px -5px 0px #4f1b95; */
}

.review > h4 {
  text-align: center;
  border-radius: 0.5rem;
  border-top-style: 1px;
  border-color: #4f1b95;
}

.review > p {
  font-size: medium;
}

.dualImage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.darkera {
  color: white;
  background-color: rgb(58, 61, 65);
  font: papyrus;
  font-size: small;
  box-shadow: 0px 5px 15px rgb(139, 17, 41), 0px -5px 15px #d31111;
}

.darkera > h3 {
  background-color: rgb(39, 39, 39);
  box-shadow: 0px 5px 15px rgb(139, 17, 41), 0px -5px 15px #d31111;
}

.oldtimey {
  font: unset;
  font-family: cursive, "lucida handwriting";
  background-color: beige;
}
